@namespace MudBlazor.Experiments

<div class="@(Class) relative d-flex flex-row flex-grow-1" style="@Style">

	<div style="height: 100%; width: calc( @(DragWidth)% - 3px ); ">
		@Panel1
	</div>
	
	<div style="width: 6px; height: 100%">
	</div>

	<div style="height: 100%; width: calc( @(100 - DragWidth)% - 3px );">
		@Panel2
	</div>
	
	<div style="width: 100%; height: 100%; position: absolute;">
        <input @bind-value="@DragWidth" @bind-value:event="oninput" class="mud-resizable-panel-slider" style="width: 100%" type="range" id="volume" name="volume" min="0" max="100">
    </div>

</div>

@code {

	[Parameter]
	[EditorRequired]
	public RenderFragment Panel1 { get; set; } = null!;

	[Parameter]
	[EditorRequired]
	public RenderFragment Panel2 { get; set; } = null!;

	[Parameter]
	public string Class { get; set; } = "";

	[Parameter]
	public string Style { get; set; } = "";

	private int DragWidth = 50;
}
